{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
{% comment %} User is already authenticated, redirect to home page {% endcomment %}
<script>
    window.location.href = "{% url 'home' %}";
</script>
{% else %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration/login.css' %}">

<div class="loginformcontainer">
    <h2 class="logintitle">Log In</h2>
    <form id="loginform" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
    <a href="/signup">Sign up</a>
</div>
{% endif %}
{% endblock %}