:root {
    --pink: #c252e1;
    --lightBlue: #6ecbf5;
    --mediumBlue: #586ae2;
    --lightPink: #e0d9f6;
    --darkBlue: #131027;
    --green: #83ff49;
}

body {
    background-color: var(--darkBlue);
    color: var(--lightPink);
    font-family: Arial, Helvetica, sans-serif;
}


button {
    border: none;
    background-color: var(--mediumBlue);
    color: var(--lightPink);
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px var(--pink);
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
    box-shadow: 3px 3px var(--pink);
}

table {
    display: block;
    margin: auto;
    width: fit-content;
    border: none;
}

th,
td {
    border: none;
    max-width: 102ch;
}

th {
    padding: 10px;
    background-color: var(--darkBlue);
    color: var(--cream);
    max-width: 30ch;
}

td {
    padding: 10px;
    background-color: var(--lightBlue);
}

td:hover {
    background-color: var(--mediumBlue);
}

pre {
    color: white;

}

textarea {
    background-color: var(--darkBlue);
    border: 1px solid var(--pink);
    color: var(--lightPink);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px white;
}

textarea:focus {
    border: none;
}

input {
    background-color: var(--darkBlue);
    border: 1px solid var(--pink);
    color: var(--lightPink);
    padding: 5px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: var(--lightPink);
}

a:hover {
    cursor: pointer;
    color: var(--pink);
}

.imageprofilecontainer {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;

}

.imageprofilecontainer img {
    display: inline;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.smallImage {
    width: 60px;
    height: 60px;
    display: inline;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media (max-width:500px) {
    body {
        font-size: large;
    }

    button {
        font-size: small;
        padding: 7px;
    }
}