:root {
    --pink: #c252e1;
    --lightBlue: #6ecbf5;
    --mediumBlue: #586ae2;
    --lightPink: #e0d9f6;
    --darkBlue: #131027;
}

body {
    background-color: var(--darkBlue);
    color: var(--lightPink);
    font-family: Arial, Helvetica, sans-serif;
}


button {
    border: none;
    background-color: var(--mediumBlue);
    color: var(--lightPink);
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px var(--pink);
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
    box-shadow: 3px 3px var(--pink);
}

@media (max-width:500px) {
    body {
        font-size: large;
    }

    button {
        font-size: small;
        padding: 7px;
    }
}