.nav {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 100%;
    justify-content: space-between;

}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.title {
    margin: 0;
    font-size: xx-large;
}

.logoutForm {
    display: inline;
}

.user_image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}


@media (max-width:500px) {


    .title {
        font-size: small;
    }
}