.resolution_card {
    width: 50%;
    align-self: center;
    margin-top: 3%;
    padding: 40px;
    border: 1px solid var(--pink);
    border-radius: 10px;
    height: fit-content;
}

.top_div {
    display: flex;
    justify-content: space-between;
}

.small_button {
    background-color: transparent;
    box-shadow: none;
}

.small_button:hover {
    box-shadow: none;
    color: var(--pink);
}

.likeButton {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
}

.likeButton:hover {
    cursor: pointer;
    transform: scale(110%);
    box-shadow: none;
}

.likeButtonUser {
    background-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    color: red;
    text-decoration: underline;
}

.likeButtonUser:hover {
    box-shadow: none;
    cursor: default;
}

.unlikeButton {
    background-color: red;
    color: white;
    box-shadow: none;
}