.submit_input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    gap: 50px;
    margin-bottom: 100px;
}

.input_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;

}

.input_form p {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.custom-select {
    width: 10%;
    background-color: var(--darkBlue);
    color: var(--lightPink);
}

label {
    display: block;
}

.solveButton {
    width: fit-content;

}

textarea {
    width: 100%;
    margin: auto;
    overflow-y: scroll;
}