.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.title {
    margin: 0;
}

@media (max-width:500px) {


    .title {
        font-size: small;
    }
}