{% extends "base.html" %}
{% block content %}
<table border="1">
    <thead>
        <tr>
            <th>Day</th>
            <th>Answer Part One</th>
            <th>Answer Part Two</th>
        </tr>
    </thead>
    <tbody>
        {% for item in resolutions|dictsort:"day_id" %}

        <tr>
            <td>{{ item.day_id }}</td>
            <td>{{ item.answer_part_one }}</td>
            <td>{{ item.answer_part_two }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% if not resolutions %}
<p>Submit your input and it will appear here!</p>
{% endif %}
{% endblock %}