{% extends 'base.html' %}

{% block content %}{% include 'nav.html' %}
<div style="margin: auto; width: 40%;">
    <h3>Day {{res.day}} by: {{res.user}}</h3>
    <pre>
        <code>
          {{res.code}}
        </code>
    </pre>


    <div style="height: 50%; overflow-y: scroll;">
        <h3>Comments:</h3>
        {% if not replies %}
        <small>There are no comments yet...</small>
        {% else %}
        {% for c in replies %}
        {% include "comment.html" with c=c %}
        {% endfor %}
        {% endif %}
    </div>
    <form style="margin-top:  50px; display: flex; flex-direction: column; gap:15px; align-items: center;"
        class="commentForm" method="POST" action="/comment/{{ id }}">
        {% csrf_token %}
        <h3>Leave your comment:</h3>
        <textarea name="comment" id="commentTextarea" cols="30" rows="10"></textarea>
        <button onclick="submitForm()">Submit</button>
    </form>



</div>
{% endblock %}
<script>
    function submitForm() {
        // Get the CSRF token from the page
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();

        // Make an AJAX request to handle form submission
        console.log($('#commentTextarea').val());
        $.ajax({
            url: $('#commentForm').attr('action'), // Use form's action attribute
            method: 'POST',
            headers: { 'X-CSRFToken': csrf_token }, // Include CSRF token in headers
            data: JSON.stringify({ comment: $('#commentTextarea').val() }),
            success: function (data) {
                // Reload the page on success
                console.log("holaa");
                location.reload(true);
            },
            error: function () {
                console.error('Failed to submit comment');
            }
        });
    }
</script>