{% load static %}

<div id="resolution_card" class="resolution_card" item_id="{{r.id}}">
    <div class="top_div">
        <div>
            {% if r.user.image %}
            <img src="{{ r.user.image }}" alt="" class="smallImage">
            {% else %}
            <img src="{% static 'default_user.svg' %}" alt="" class="smallImage">
            {% endif %}
            <a href="/profile/{{ r.user }}">
                <button class="small_button">{{ r.user.username }}</button>
            </a>

        </div>

        <small style="font-size:medium;">Day: {{ r.day }}
            <button class="small_button">{{r.language.name}}</button></small>
    </div>

    <p class="comment">
        {{ r.description }}
    </p>
    <div style="display: flex; gap: 25px;">
        <a href="/code/{{ r.id }}"> <button>Code</button></a>
        <button>Input</button>
        {% if r.link_to_repo != "none" %}
        <a href="{{ r.link_to_repo }}">
            <button class="small_button">Repo</button>
        </a>
        {% endif %}
    </div>
    {% if r.user == user%}
    <div style="display: flex; justify-content: space-between;">
        <a href="/code/{{r.id}}"><small style="padding-top: 10px;"> {{r.comments_quantity}} comments</small></a>
        <button class="likeButtonUser">
            <small style="color: red; font-size: 16px; margin-right: 10px;"> {{r.likes}} likes</small> <svg
                style="color: red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-heart" viewBox="0 0 16 16">
                <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg>
        </button>
    </div>
    {% elif r.id in likes %}

    <div style="display: flex; justify-content: space-between;">
        <a href="/code/{{r.id}}"><small style="padding-top: 10px;"> {{r.comments_quantity}} comments</small></a>
        <button class="unlikeButton" onclick="toggleLike('{{r.id}}')">
            <small style=" font-size: 16px; margin-right: 10px;"> {{r.likes}} likes</small> <svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                viewBox="0 0 16 16">
                <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg>
        </button>
    </div>
    {% else %}
    <div style="display: flex; justify-content: space-between;">
        <a href="/code/{{r.id}}"><small style="padding-top: 10px;"> {{r.comments_quantity}} comments</small></a>
        <button id="likeButton_{{r.id}}" class="likeButton" onclick="toggleLike('{{r.id}}')">
            <small style=" font-size: 16px; margin-right: 10px;"> {{r.likes}} likes</small> <svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                viewBox="0 0 16 16">
                <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg>
        </button>
    </div>
    {% endif %}
</div>

<script>
    function toggleLike(postId) {

        var isLiked = button.hasClass('likeButton');
        if (isLiked) {
            like(postId)
        }
        else {
            unlike(postId)
        }
    }
    function like(postId) {
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: `/like/${postId}`,  // Use the extracted post ID
            type: 'POST',
            dataType: 'json',
            headers: { 'X-CSRFToken': csrf_token },
            success: function (response) {
                var button = $(`#likeButton_${postId}`);

                var currentLikes = parseInt(button.find('small').text());

                // Update the number of likes in the button
                button.find('small').text((currentLikes + 1) + ' likes');
                // Add a CSS class to change the style of the button
                button.addClass('unlikeButton');

                // You may also want to remove the previous 'likeButton' class if necessary
                button.removeClass('likeButton');
            },
            error: function (error) {
                // Handle error
                console.error('Error adding like:', error);
            }
        });
    }
    function unlike(postId) {

        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: `/unlike/${postId}`,  // Use the extracted post ID
            type: 'POST',
            dataType: 'json',
            headers: { 'X-CSRFToken': csrf_token },
            success: function (response) {
                var button = $(`#${postId}`);
                var currentLikes = parseInt(button.find('small').text());

                button.find('small').text((currentLikes - 1) + ' likes');
                button.addClass('likeButton');
                button.removeClass('unlikeButton');

            },
            error: function (error) {
                // Handle error
                console.error('Error adding like:', error);
            }
        });
    }
</script>