{% load static %}
<div class="resolution_card">
    <div class="top_div">
        <div>
            {% if r.user.image %}
            <img src="{{ r.user.image }}" alt="" class="smallImage">
            {% else %}
            <img src="{% static 'default_user.svg' %}" alt="" class="smallImage">
            {% endif %}
            <a href="/profile/{{ r.user }}">
                <button class="small_button">{{ r.user.username }}</button>
            </a>
        </div>

        <small style="font-size:medium;">Day: {{ r.day }} <button class="small_button">{{ r.language }}</button></small>
    </div>
    <p class="comment">
        {{ r.comment }}
    </p>
    <div style="display: flex; gap: 25px;">
        <a href="/code/{{ r.id }}"> <button>Code</button></a>
        <button>Input</button>
    </div>
    <small style="padding-top: 10px;"> {{r.comments_quantity}} comments</small>
    <script>
        $(document).ready(function () {
            // Make an AJAX request to the Cat API
            $.ajax({
                url: '',
                method: 'GET',
                success: function (data) {
                    // Set the image source with the fetched URL
                    $('#catImage_{{ r.id }}').attr('src', data[0].url);
                },
                error: function () {
                    console.error('Failed to fetch cat image');
                }
            });
        });
    </script>
</div>