{% extends "base.html" %}
{% block content %}
{% include "nav.html"%}
{% load static %}
<div class="homeContainer">
    <div class="imageprofilecontainer">
        {% if user.image %}
        <img id="catImage" alt="" src="{{user.image}}">
        {% else %}
        <img id="catImage" alt="" src="{% static 'default_user.svg' %}">
        {% endif %}
        <h2>{{ user.username }}</h2>
    </div>


    {% for s in resolutions %}
    {% include "resolution_card.html" with r=s %}
    {% endfor %}
</div>


{% endblock %}