{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="homeContainer">

        {% if user.is_authenticated %}
        {% include 'nav.html' %}
        <h1 class="hometitle">Advent of code 2022</h1>
        <h1></h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Answer Part One</th>
                    <th>Answer Part Two</th>
                    <th>Input</th>
                </tr>
            </thead>
            <tbody>
                {% for item in user_info %}

                <tr>
                    <td>{{ item.day_id }}</td>
                    <td>{{ item.answer_part_one }}</td>
                    <td>{{ item.answer_part_two }}</td>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#exampleModalLong">
                            See input
                        </button>
                    </td>
                </tr>

                {% include "modal.html" with content=item.input %}
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}

    </div> {% endblock %}
</body>

</html>