{% extends "base.html" %}
{% block title %}Submit your input{% endblock %}
{% block content %}
<select name="dropdown" id="dropdown">
    <option value="Select a day" disabled="true" selected="true">Select a day</option>
    {% for day in days %}
    <option value="{{ day }}">
        {{ day }}
    </option>
    {% endfor %}
</select>
<form class="input_form" method="POST" action={{user.id}} id="input_form">
    {% csrf_token %}


    <textarea id="data"></textarea>
    <button type="submit" id="solveButton">Solve</button>
</form>





<script>
    $(document).ready(function () {
        var initialFormAction = $('#input_form').attr('action');

        $('#solveButton').click(function () {
            // Get the textarea value
            var textData = $('#data').val();

            // Update the form action dynamically
            var selectedDay = $('#dropdown').val();
            var url = "/day/" + selectedDay + "/" + initialFormAction + "/";
            $('#input_form').attr('action', url);

            // Make an AJAX request
            $.ajax({
                type: 'POST',
                url: url,
                data: textData,  // Send textarea value as plain text
                contentType: 'text/plain',  // Set the content type
                headers: {
                    'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (response) {
                    console.log(response);
                    // Handle the response as needed
                },
                error: function (error) {
                    console.log(error);
                    // Handle the error
                }
            });

            // Prevent the default form submission
            return false;
        });
    });
</script>


{% endblock %}