{% extends "base.html" %}
{% block content %}
{% include "nav.html"%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/logged_in_profile.css' %}">
<div class="logged_in_profile_container">
    <div class="logged_in_profile_image_container">
        {% if user.image %}
        <a href="/updateimage">
            <div class="profile-image-container">
                <img class="logged_in_profile_image" src="{{user.image}}" alt="">
            </div>
        </a>

        {% else %}
        <a style="text-decoration: none; color: white;" href="/updateimage">
            <div class="uploadImage">
                <small>Get Image</small>
            </div>
        </a>

        {% endif %}
        <div>
            <h2>{{user.username}}</h2>
            <small><button class="small_button">Edit profile</button></small>
        </div>

    </div>
    <!-- <div>
        {% include "user/profile_data.html" with user=user %}
    </div> -->
    <h3 style="text-align: center;">Your submits: </h3>
    <div class="profile_cards_container">


        {% for r in r %}

        {% include 'user/profile_cards.html' with r=r %}

        {% endfor %}


    </div>

</div>


{% endblock %}